.*

# Matlab
*.asv

# Python
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries


# Fortran module files
*.mod

# Compiled Static libraries


# Executables
*.exe
*.out
*.app

# Intermediate Files
ipch
*.sdf
Debug
*.sdf
*.suo
